<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.metaio.junaio.plugin"
    android:versionCode="4"
    android:versionName="4.6.1" >
    <uses-sdk android:minSdkVersion="11" />
    <application android:label="JunaioPlugin" >
    </application>
</manifest>